<a href="https://colab.research.google.com/github/Supreme-YS/python_programming/blob/main/codeup_compile_note.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
c = input()
print(c)

a
a

In [26]:
integer = input()
print(integer)

1
1

In [27]:
f = input()
print(f)

1.4555
1.4555

In [39]:
f, b = input().split('-')
print(f+b)

123456-1234567
1234561234567

In [43]:
s = input()
print(s[0:2], s[2:4], s[4:6])

930125
93 01 25

In [44]:
h, m, s = input().split(':')
print(m)

12:23:34
23

In [55]:
a = input() # 문자열상태
n = int(a) # int로 casting
print('%x'% n) #n에 저장되어 잇는 값을 16진수 소문자 형태 문자열로 출력

255
ff

In [56]:
a = input() # 문자열상태
n = int(a) # int로 casting
print('%X'% n) #n에 저장되어 잇는 값을 16진수 소문자 형태 문자열로 출력

255
FF

In [57]:
a = input() # 문자열상태
n = int(a, 16) # a를 16진수로 인식해 변수 n에 저장하기.
print('%o'% n) # n에 저장되어 있는 값을 8진수 형태 문자열로 출력

f
17

In [59]:
# 문자 -> 10진수로 ord!

a = ord(input())
print(a)

A
65

In [61]:
# 10 진수 -> unicode

c = int(input())

print(chr(c))

65
A

In [69]:
c = ord(input())
print(chr(c+1))

a
b

In [74]:
a, b = input().split()
c = int(a) - int(b)

print(c)

123 -123
246

In [78]:
f1, f2 = input().split()
m = float(f1) * float(f2)

print(m)

1.2 3.88
4.656

In [80]:
w, n = input().split()
n = int(n)
print(w * n, end='')

love 3
lovelovelove

In [82]:
a, b = input().split()
c = float(a)**float(b)
print(c)

1.4 9.2
22.099270013507446

In [106]:
a = int(input())

if a == 0 :
    print(False)
else:
    print(True)

123
True

In [108]:
a = bool(int(input()))
print(not a)

0
True

In [125]:
a, b = map(int, input().split())
c = (a if (a >= b) else b)
print(c)

10 20
20

In [131]:
a, b, c = map(int, input().split())

min_val = (a if a < b else b) if ((a if a < b else b) < c) else c
print(min_val)

3 -1 5
-1

In [133]:
a, b, c = map(int, input().split())

if a % 2 == 0:
    print('even')
else:
    print('odd')

if b % 2 == 0:
    print('even')
else:
    print('odd')

if c % 2 == 0:
    print('even')
else:
    print('odd')

10 9 7
even
odd
odd

In [144]:
month = int(input())

if month // 3 == 1:
    print('spring')
elif month // 3 ==2 :
    print('summer')
elif month // 3 ==3 :
    print('fall')
else:
    print('winter')

12
winter

In [146]:
n = 1 

while n != 0 :
    n = int(input())
    if n!= 0 :
        print(n)
    else:
        break

2
2
5
5
0

In [181]:
s = ord(input())
t = 'q'

while True :
    if chr(s) != t :
        print(chr(s))
        s = ord(input())
    else:
        print(chr(s))
        break

x
x
q
q

In [191]:
a = int(input())
sum = 0

for i in range(0, a):
    if sum < a :
        sum = sum + i
    else:
        print(i-1)
        break

55
10

In [192]:
# 1부터 n까지 주사위, 1부터 m까지 주사위

n, m = map(int, input().split())

for i in range(1, n+1):
    for j in range(1, m+1):
        print(i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [199]:
n = int(input(), 16)

for i in range(1, 16):
    print('%X*%X=%X' %(n, i, n*i))

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [207]:
num = input()

for i in range(1, int(num)+ 1):
    if '3' in str(i) or '6' in str(i) or '9' in str(i):
        print('X', end=' ')
    else :
        print(str(i), end=' ')

23
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X

In [210]:
r, g, b = map(int, input().split())

for i in range(r):
    for j in range(g):
        for k in range(b):
            print(i, j, k)
            
print(r * g * b)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [215]:
h, b, c, s = map(int, input().split())

print(round((h * b * c * s) / 8/ 1024 / 1024, 1), "MB")

44100 16 2 10
1.7  MB